#projetos{
    padding: 25px;
    height: 100vh;
    padding-top: 100px; /* Ajuste esse valor conforme necessário */
    margin-top: 20px;; /* Este valor deve ser igual ao padding-top para corrigir o espaço */
    width: 100%;
}

.t-projeto {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: #fff;
}

.div-projetos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.projeto-card {
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.st-projetos {
    font-size: 25px;
    margin: 15px 0;
}

.categoria {
    color: #2980b9;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.p-projetos {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-projeto {
    width: 60%;
    border-radius: 10px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
    
}

.btn-projetos {
    background-color: purple;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-projetos:hover {
    background-color: rgb(173, 2, 173);
}


