body{
    font-family: "Inter", sans-serif;
}
#sobre {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10%;
    width: 90%;
}
.t-sobre {
    font-size: 48px;
    font-weight: bold;
    
}
.p-sobre {
    font-size: 18px;
}

.foto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.title-sobre{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 5%;
}

.text-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-top: 5%;
}

.s-sobre{
    font-size: 70px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rtl 6000ms linear infinite;
    padding: 0 1rem;
    font-weight: bolder;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}