body {

    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar barra de rolagem horizontal */
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10% 0; /* Ajuste o padding-top conforme necessário */
    width: 100%;
    height: auto; /* Ajuste a altura para ser automática */
}

/* Ajuste para o wrapper do conteúdo */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin-top: 2%;
    margin-right: 105px;
}

.t-sobre {
    font-size: 48px;
    font-weight: bold;
}

.p-sobre {
    font-size: 22px;
    width: 90%;
}

.foto {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw; /* Largura total da viewport */
    position: relative;
    overflow: hidden;
    height: 100px; /* Ajuste a altura do text-wrapper conforme necessário */
    
}

.s-sobre {
    font-size: 90px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    letter-spacing: 1px;
    animation: move-rtl 10s linear infinite;
    padding: 0 1rem;
    font-weight: bolder;
}

@keyframes move-rtl {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Sai da tela pela esquerda */
    }
}